<% bg_style = [
    "background-image: " + (item.image.nil? ? 'initial' : "url(#{image_path(item.image)})") + ";",
    "border: 4px solid rgba(#{color[:red]}, #{color[:green]}, #{color[:blue]}, #{color[:alpha]});",
    "background-size: cover;",
    "background-color: rgba(#{color[:red]}, #{color[:green]}, #{color[:blue]}, #{0.2*color[:alpha]});"
  ].join(" ")
%>

<div class="item-box">
  <div name="item<%= item.id %>" class="item" style="<%= bg_style %>">
    <div class="item-title">
      <p><%= item.name.titleize %></p>
    </div>
  </div>
</div>
