/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-colorpicker";
@import "articles";
@import "cities";

.clickable {
  cursor: pointer;
  &:hover {
    box-shadow: 0px 1px 3px;
  }
  &:active {
    box-shadow: 0px 1px 3px inset;
  }
}

.alert-error {
  @extend .alert-danger;
}

.scrollable-list {
  @extend .list-group;

  height: inherit;
  overflow-y: auto;
  border-radius: 0px;

  li {
    border-radius: 0px;
  }

  .list-group-item:first-child {
    border-radius: 0px;
  }

  .list-group-item:last-child {
    border-radius: 0px;
  }
}

.inline {
    display: inline-block;
}

/**
 * The .icon class is similar to Bootstrap's .close, but without the right-align
 */
.icon {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.icon:hover, .icon:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.icon {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.left-align {
  float: left;
}

._centered {
  position: absolute;
  width: inherit;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
}

.centerable {
  position: relative;

  .centered {
    @extend ._centered;
  }
}

.concentric {
  position: relative;

  * {
    @extend ._centered;
  }
}

.inset {
  height: 95%;
  width: 95%;
}

// Use the whole width of the page on mobile devices
body {
  padding: 0;
  margin: 0;
}

// Add margins on larger screens
@media screen and (min-device-width: 768px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }
}

// The following rules work together so that the total height of the navbar and any element with
// class full-window is, when combined, the height of the viewport.
$navbar_height: 5vh;
$window_height: 95vh;
body {
  padding-top: $navbar_height !important;

  >nav {
    height: $navbar_height;
    margin-bottom: 0px !important;
  }
}
.full-window {
  height: $window_height;
}
