/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "articles";

.clickable {
  cursor: pointer;
  &:hover {
    box-shadow: 0px 1px 3px;
  }
  &:active {
    box-shadow: 0px 1px 3px inset;
  }
}

.alert-error {
  @extend .alert-danger;
}

.scrollable-list ul {
    overflow-y: auto;
    border-radius: 0px;
}

.scrollable-list li {
    border-radius: 0px;
}

.scrollable-list .list-group-item:first-child {
    border-radius: 0px;
}

.scrollable-list .list-group-item:last-child {
    border-radius: 0px;
}

.inline {
    display: inline-block;
}
