// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */


body {
  padding-top: 100px;
  background: image-url("grass.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.right {
    position: absolute;
    right: 0px;
    padding: 5px;

}
.left {
    position: fixed;
    left: 50px;
    padding: 5px;
    top: 70px;
     height: 50px;
    width: 5%;
}

b {
  margin-right:50px;

}

.bin-view {
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;

  .bin-header {
    height: 15%;
    border-radius: 25px 25px 0px 0px;
    margin-top: 10px;

    h2 {
      padding-top: 10px;
      color: white;
      text-shadow: 0 0 10px black;
    }
  }

  .bin-tabs {
    @extend .btn-group;
    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 0px 0px 25px 25px;
    width: 100%;
    display: flex;

    button {
      flex-grow: 1;
      color: white;
      text-shadow: 0 0 3px black;
      border-top-style: none !important;
    }

    button:not(:last-child) {
      border-right-style: none !important;
    }

    button:first-child {
      border-radius: 0px 0px 0px 25px;
    }
    button:last-child {
      border-radius: 0px 0px 25px 0px;
    }
    button:only-child {
      border-radius: 0px 0px 25px 25px;
    }
  }

  .bin-body {
    height: 85%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin: 10px 0px;
    display: flex;

    button {
      height: 100%;
    }
    button:first-child {
      border-radius: 25px 0 0 25px;
    }
    button:last-child {
      border-radius: 0 25px 25px 0;
    }

    .bin-categories {
      flex-grow: 1;
    }

    .bin-page {
      overflow-y: hidden;
      height: 100%;
      border-left-style: none !important;
      border-right-style: none !important;

      .item {
        display: inline-block;

        width: 200px;
        height: 200px;
        margin: 10px;

        border-radius: 10px;

        .item-title {
          width: 100%;
          height: 33%;
          margin: 33% 0px;

          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          text-shadow: 0 0 3px black;

          position: relative;

          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 100%;
          }
        }
      }
    }
  }
}

#bin_links {
  background: #000;
  color: white;
  font-size: 1.5em;
  position: fixed;
  top: 50px;
  width: 100%;
  padding: 0 0 0%;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  right: 0%;

  display: flex;
  justify-content: center;

  z-index: 999999999;

  .bin-link:first-child {
    font-weight: bold;
    margin-left: auto;
  }

  .bin-link {
    cursor: pointer;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: .5em 1em;

    -webkit-transition: all .1s ease-in;
  }

  .bin-link:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  .active {
    background: rgba(255, 255, 255, 0.3);
  }

  form {
    margin-left: auto;
  }
}

.portion {

  background-position: center ;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;

}

.portion h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  padding: 2em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
}
.panel > .panel-heading {
    background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR5BuD6VDdykOZaE7XXIZQWBYLHgOmZNyH5Oy_atNPkgEadsGXmmw');
    background-color:none;
    color: white;

}



.button {
  text-align: center;
}
.button a {
  display: inline-block;
  border: 2px solid #777;
  padding: .75em 1.5em;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .15em;
  word-spacing: .25em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.button a:hover {
  color: #FFFAF0;
  background: #777;
}
footer.info {
  color: #FFFAF0;
  background: #FFF;
  padding: 0 auto;
  text-align: center;
}

#toTop img {
  width: 50px;
}
#toTop img:hover {
  cursor: pointer;
}
nav img {
  z-index: 1000;
  height: 1.8em;
  position: absolute;
  left: 40px;
  top: 33px;
  transition: all 0.5s linear;
}

// .move {
//   top: -60px;
// }


nav span {
  position: absolute;
  left: 40px;
  top: 10px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

#bins {
background: url('bw_backgronud.png');

  .bin {
    @extend .panel, .panel-default;
    display: inline-table;
    vertical-align: top;
    width: 250px;



    h3.title {
      @extend .panel-title;
     font-size: 30px;
     color: white;
    }

    .heading {
      @extend .panel-heading;

    }

    .body {
      @extend .panel-body;
      width: inherit;
      height: 300px;
      padding: 0px;
    }

    .footer {
      @extend .panel-footer;

    }
  }
}

#cities_search {
  height: 50%;
  width: 75%;
  margin: auto;
  padding: 45px 45px;

  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: #e5e5e5;

  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}
