<p id="notice"><%= notice %></p>

<h1>Welcome to the Recycling Helper</h1>
  <p> Click on your city to get started </p>

<table>
  <thead>
    <tr>
      <th  width="40%">Name</th>
      <th width="30%">State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  	<% @cities.each do |city| %>
	<tr>
        <td ><%= link_to city.name, city_path(city) %> </td>
        <td><%= city.state %></td>
    </tr>


	<% end %>





  </tbody>
</table>



<br>
