<!DOCTYPE html>
<html>
  <head>
    <title>RecyclingHelper</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
   <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <% flash.each do |a,b| %>
                        <div class="alert alert-success"> <%= b %> </div>
                    <% end %>
                    <%= yield %>
                </div>
            </div>
            <!-- /.row -->
        </div>
  </body>

  
</html>
